body {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nowrap {
	white-space: nowrap;
}

.splash {
	color: #FFF;
	background-color: #000;
	/*background-attachment: fixed;*/
	background-image: url("../images/splash/reception3.jpg");
	background-position: right 0px;
	background-repeat: no-repeat;
	text-shadow: #666 2px 2px 2px;
}

.splash .navbar {
	background-color: transparent;
	background-color: rgba(0, 0, 0, 0.2);
	border: none;
	border-radius: 0;
}

.splash .icon-bar {
	background-color: #FFF;
}

.splash .navbar-toggle {
	float: left;
	margin-left: 12px;
}

.splash .navbar-toggle:hover {
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.4);
}

.splash .navbar-nav > li > a {
	color: #FFF;
	font-weight: 500;
	padding: 10px 15px;
}

.splash .navbar-nav > li > a:hover {
	background-color: transparent;
	text-decoration: underline;
}

.splash .navbar-nav > li.active > a {
	color: #FFF;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.4);
}

.splash .jumbotron {
	text-align: center;
	background-color: transparent;
}

.btn-splash {
	color: #FFF;
	font-weight: 600;
	border-color: #FFF;
	background-color: transparent;
}

.btn-splash:hover {
	border-color: #FFF;
	background-color: #FFF;
	text-shadow: none;
}

.feature {
	border-bottom: 1px solid #CCC;
	padding: 40px 0;
	height: 360px;
}

.feature:first-child {
	margin-top: -30px;
}

.feature-image {
	float: right;
	width: 360px;
}

.feature-image img {
	display: block;
	margin: 0 auto;
	height: 280px;
}

.feature h2 {
	margin-top: 100px;
}

.projects .thumbnail {
	margin-bottom: 20px;
}

.projects .thumbnail img {
	height: 200px;
}

.map {
	margin-top: -20px;
	height: 100%;
}

.resume a {
	color: #000;
}

.resume h2 {
	margin-top: 72px;
}

.resume .subheading {
	margin-top: 0;
}

.resume .social-icons {
	margin: 24px 0;
}

.resume .social-icons img,
.biz-card .social-icons img {
	margin-top: 1px;
	width: 24px;
	height: 24px;
}

.resume div[class*='skill-'] {
	font-size: 0;
	margin-bottom: 12px;
}

.resume div[class*='skill-'] .progress-filled,
.resume div[class*='skill-'] .progress-current {
	display: inline-block;
	margin: 0;
}

.resume .skill-3 .progress-filled {
	width: 40%;
	border-bottom: 2px solid #EE6;
}

.resume .skill-4 .progress-filled {
	width: 60%;
	border-bottom: 2px solid #6F6;
}

.resume .skill-5 .progress-filled {
	width: 80%;
	border-bottom: 2px solid #6F6;
}

.resume div[class*='skill-'] .progress-current {
	width: 20%;
}

.resume .skill-3 .progress-current {
	border-bottom: 2px solid #AA3;
}

.resume .skill-4 .progress-current,
.resume .skill-5 .progress-current {
	border-bottom: 2px solid #090;
}

.resume section {
	border-bottom: 1px solid #CCC;
	padding-bottom: 24px;
}

.resume section h4 {
	margin: 12px 0 7px;
}

.biz-card {
	border-top: 1px solid #999;
	border-left: 4px solid #999;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	margin: 40px auto 120px;
	width: 420px;
	padding: 48px 20px 20px;
}

footer {
	color: #999;
	background-color: #333;
}

footer p {
	margin-top: 17px;
}

footer .social-icons a {
	display: inline-block;
}

footer .social-icons a:hover {
	text-decoration: none;
}

footer .social-icons img {
	width: 48px;
	height: 48px;
}

footer .social-icons img:hover {
	margin-top: -10px;
}

/***** Big screens *****/
@media screen and (min-width: 1440px) {
	.splash {
		background-size: cover;
	}
}

/***** Desktop and tablets *****/
@media screen and (min-width: 768px) {
	body {
		padding-top: 80px;
	}

	.splash {
		margin-top: -80px;
	}

	.splash .navbar {
		padding: 20px 0;
	}

	.splash .navbar-nav > li.active > a {
		color: #FFF;
		border-radius: 5px;
	}

	.splash .jumbotron {
		padding: 120px 0;
	}

	.projects .thumbnail {
		height: 500px;
	}

	footer {
		padding: 60px 0;
	}
}

/***** Smartphones *****/
@media screen and (max-width: 767px) {
	body {
		padding-top: 50px;
	}

	.splash {
		margin-top: -50px;
	}

	.splash .navbar {
		padding: 0;
	}

	.splash .jumbotron {
		padding: 60px 0;
	}

	.feature {
		padding: 20px 0;
		height: auto;
	}

	.feature-image {
		float: none;
		width: auto;
	}

	.feature-image img {
		height: 200px;
	}

	.feature h2 {
		margin-top: 20px;
	}

	.resume h2 {
		margin-top: 0;
	}

	.biz-card {
		border: none;
		margin-bottom: 40px;
		width: auto;
		padding: 0;
	}

	footer {
		padding: 40px 0;
	}
}

/***** Print *****/
@media print {
	body {
		font-size: 110%;
	}

	a:link:after {
		content: "";
	}

	.resume .col-md-3 {
		float: left;
		width: 25%;
	}

	.resume .col-md-9 {
		float: left;
		width: 75%;
	}

	.resume h3 {
		font-size: 18px;
	}

	.resume h4 {
		font-size: 14px;
	}

	.resume section {
		border-bottom: none;
		padding-bottom: 0;
	}

	.biz-card .col-sm-6 {
		float: left;
		width: 50%;
	}

	blockquote {
		border-top: none;
		border-right: none;
		border-bottom: none;
		padding-top: 0;
		padding-bottom: 0;
	}

	blockquote p {
		font-size: 12px;
	}

	footer {
		display: none;
	}
}
